<component name="ArtifactManager">
  <artifact type="war" name="spring.selenium.k-kvall:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring.selenium.k-kvall-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring.selenium.k-kvall:war exploded" />
    </root>
  </artifact>
</component>