<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring.selenium.k-kvall:war exploded">
    <output-path>$PROJECT_DIR$/target/spring.selenium.k-kvall-1.0-SNAPSHOT</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring.selenium.k-kvall/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring.selenium.k-kvall" />
        </element>
      </element>
    </root>
  </artifact>
</component>